################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chapter08EXERCICES/v16/Server/sqlite3
